/* Styles par défaut pour mobile first */

@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Overlock&display=swap');

body{
    background-color: #f2e6d160;
}

/* code css header */
header {
    background-color: #E0D0B3;
    padding: 10px 20px;
}

/* début code nav bar */
header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .main-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

header .logo {
    display: none;
}

header ul {
    font-family: 'Overlock', sans-serif;
    color: #3F54BE;
    font-size: 30px;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

header ul li {
    margin: 0 10px;
}

header ul li a {
    text-decoration: none; /* Enlever la décoration des liens */
    color: inherit; /* Utiliser la couleur héritée */
}

.menu-icon {
    display: block;
    font-size: 30px;
    cursor: pointer;
    color: #3F54BE;
}

.nav-links {
    display: none;
    flex-direction: column;
    width: 75%; /* Prendre les trois quarts de l'écran */
    height: 100%;
    background-color: #3F54BE;
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0,0,0,0.5);
}

.nav-links.active {
    display: flex;
}

.nav-links li {
    text-align: left;
    padding: 10px 0;
    width: 100%;
}

.close-icon {
    align-self: flex-start;
    font-size: 30px;
    cursor: pointer;
}
/*fin code nav bar */

header .right-section {
    display: flex;
    align-items: center;
    position: absolute; 
    top: 0; 
    right: 0; 
    padding: 10px;
}

#login { 
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #3F54BE;
    font-size: 20px; 
    padding: 10px;
    font-family: 'Comic Neue', cursive;
}

#panier {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #3F54BE;
    padding: 10px;
    padding-right: -30px;
    font-family: 'Comic Neue', cursive;
    height: 70%;
    width: 70%;
}


#logo-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 55px;
    padding: 10px;
    transform: translateY(-60%);
}

#nom-de-la-marque {
    font-family: 'Overlock', sans-serif;
    color: #3F54BE;
    font-size: 30px;
    margin-top: 10px;
}

/* fin code css header */

h1 {
    font-family: 'Overlock', sans-serif;
    font-size: 34px;
    color: #3F54BE;
    text-align: left;
    margin-left: 5vh;
    margin-top: 5vh;
}

h2{ 
    font-family: 'Overlock', sans-serif;
    font-size: 28px ;
    color: #3F54BE;
    text-align: left;
    margin-left: 7vh;
    margin-top: 5vh;
}

hr {
    border: 1px solid #3F54BE;
    margin: 5vh 5vh;
    opacity: 1; /* Assure que le séparateur soit opaque */
}

/* code css footer */
#footer-logo {
    display: flex;
    justify-content: center;
    padding: 10px;
    transform: translateY(50%);
}

#footer-liens-id {
    padding: 10px;
    background-color: #3F54BE;
    font-family: 'Comic Neue', cursive;
}

li {
    list-style: none;
}

.footer-liens {
    color: #F2E6D1;
    text-decoration: none;
    display: flex;
    flex-direction: column;

}


#Copyright {
    text-align: center;
    background-color: #3F54BE;
    color: #F2E6D1;
    padding: 10px;
    font-family: 'Comic Neue', cursive;
}


/* fin code css footer */


/* Ajout de la règle CSS pour les écrans de tablette */
@media (min-width: 768px) {
    body {
        font-size: 18px;
    }


    .menu-icon {
        display: none;
    }

    .nav-links {
        display: flex;
        flex-direction: row;
        position: static;
        width: auto;
        height: auto;
        background-color: transparent;
        box-shadow: none;
        padding: 0;
    }

    .nav-links li {
        padding: 0;
    }

    .logo {
        display: block;
        margin: 0 auto;
    }

    .right-section {
        display: flex;
        align-items: center;
    }

    .right-section ul {
        display: flex;
        align-items: center;
    }

    .right-section ul li {
        margin: 0 10px;
    }

    .close-icon {
        display: none; /* Masquer la croix de fermeture en mode tablette */
    }

    #footer-liens-id {
        display: flex;
        justify-content: space-around;
        padding: 10px;
        background-color: #3F54BE;
    }

}

/* Ajout de la règle CSS pour les écrans d'ordinateur */
@media (min-width: 1024px) {

    body {
        font-size: 20px;
    }

    .liens{
        text-decoration: none;
    }

    .menu-icon {
        display: none;
    }

    .main-wrapper {
        display: grid;
        grid-template: 25% 25% 25% 25% / 100%;
    }

    .logo {
        display: block;
        margin: 0 auto;
    }

    .right-section {
        display: flex;
        align-items: center;
        position: absolute;
        top: 0;
        right: 0;
    }

    .right-section ul {
        display: flex;
        align-items: center;
    }

    .right-section ul li {
        margin: 0 10px;
    }

    .close-icon {
        display: none; /* Masquer la croix de fermeture en mode PC */
    }

    #footer-liens-id {
        display: flex;
        padding: 10px;
        background-color: #3F54BE;
    }

    #ul-3 {
        margin-left: 10px;
    }   
}